.header {
    display: flex;
    justify-content: left;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    max-width: 600px;
}

.logo {
    width: 60%;
    max-width: 300px;
    height: auto;
    margin-left: 10%;
}