.Result_area {
    max-width: 600px;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #93D2DB;
}

.loading {
    width: 100%;
    transform:translate(0%, 100%); 
}

.result {
    position: relative;
    margin-top: 40px;
}

.type_per {
    margin-bottom: 40px;
    font-family: "bold";
}

.sentence_img {
    width: 100%;
}

.result_box {
    width: 300PX;
    height: 100%;
    border: 2px dashed #D9D9D9;
    border-radius: 30px;
    padding-top: 40px;
}

.most_type {
    margin-top: 30px;
}

.div_most_type {
    width: 150px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px
}

.span_most_type {
    font-family: "maru";
    font-size: 16px;
}

.img_most_type {
    width: 100%;
    border-radius: 30px;
}

.result_box_title {
    padding: 0px;
    position: absolute;
    transform:translate(-92%, -50%); 
    background-color: white;
    font-size: 25px;
    font-family: "extrabold";
}

.nickname_title {
    margin-top: 10px;
    font-family: "extrabold";
}

.result_img {
    width: 100%;
    border-radius: 20px;
}

.rank {
    background-color: #EFEFEF;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: "extrabold";
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.return_button {
    background-color: #FDFFC2;
    border: none;
    border-radius: 20px;
    width: 250PX;
    height: 50px;
    cursor: pointer;
    font-family: "extrabold";
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.result_share {
    margin-top: 40px;
}

.result_share_title {
    font-family: "bold";
    font-size: 16px;
}

.result__box {
    display: table-caption;
}

.sharebtn_box {
    display: flex;
    justify-content: center;
    align-content: center;
}

.kakaobtn {
    margin-right: 20px;
}

.urlbtn {
    margin-left: 20px;
}

.btn_copyurl {
    border: none;
    width: 40px;
    padding: 0px;
    background-color: white;
    margin: 0px;
}

.copyurl {
    width: 100%;
    cursor: pointer;
}

.pointshare {
    margin-top: 36px;
}

.shareMethod {
    width: 100%;
}