.subject {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left;
    display: grid;
}

.subject1, .subject2 {
    font-family: "bold";
    font-size: 23px;
    font-weight: 600;
    text-align: left;
    padding: 0px;
}

.subject2 {
    margin-top: 10px;
}

.btn_box {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

button {
    margin-top: 1rem;
    width: 49.15%;
    height: 10ch;
    border: none;
    border-radius: 0.5rem;
    border: 5px solid #5753e2;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.content_box {
    width: 75%;
    border: none;
    border-radius: 0.5rem;
}

@media (max-width: 575.98px){
button {
    width: 100%;
}
.content_box {
    border-width: 3px;
}
}

.one_btn, .two_btn, .three_btn, .four_btn {
    background-color: #FDFFC2;
    border: none;
    border-radius: 1rem;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
    font-family: "bold";
}

.one_btn:active, .two_btn:active, .three_btn:active, .four_btn:active {
    background-color: #FAFF67;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}


.status {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.back {
    margin: 0px;
    flex: 0.6;
    padding-left: 10px;
    align-self: center;
    cursor: pointer;
}

.back_btn {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #00FFAA;
    font-family: "extrabold";
}

.statusBar_Num {
    flex: 1;
    padding-top: 4px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: "bold";
}

.statusBar {
    align-self: center;
    left: 24px;
    right: 24px;
    bottom: 24px;
    height: 6px;
    border-radius: 3px;
    background: #f4f4f4;
    flex: 5;
    min-height: 9px;
}

.statusBar .done {
    float: left;
    width: 10%;
    height: 100%;
    min-height: 9px;
    border-radius: 5px;
    background-image: linear-gradient(
135deg
, #00FFAA 0%, #00FFAA 100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.test_title {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    font-family: "extrabold";
}