.kakao-share-button {
    justify-self: center;
    width: 100%;
}

#kakao-link-btn {
    background-color: white;
    width: 40px;
    border : none;
    padding: 0px;
    margin: 0px;
}

.kakao {
    cursor: pointer;
    width: 100%;
}